@import "knacss/_02-layout";

.main-illustration {
    max-width: 50%;

    &.fr {
      margin-left: 1em;
    }

    &.fl {
      margin-right: 1em;
    }

    &.fw {
        max-width: 100%;
        width: 100%;
    }

    & figcaption {
        text-align: right;
        font-style: italic;
        font-size: 0.8em;
    }
}

iframe.video {
    max-width: 100%;
    max-height: 53vw;
}

.amp {
    font-family: Baskerville, "Goudy Old Style", "Palatino",
      "Book Antiqua", @font-stack-common;
    font-size: 100%;
    font-style: italic;
}

.series {
    background-color: lighten(@headings-3-color, 50%);
    color: @headings-3-color;
    padding: 1rem;
    margin-bottom: 2rem;

    ul {
        margin-bottom: 0;
    }
}

article.summary {
    border-bottom: 2px solid @secondary-color;
    padding-bottom: calc(1rem - 2px);
}

.main_wrapper .entry-content a {
    text-decoration: underline;
}

.homepage .post-note {

    .content {
        margin-bottom: 0.5rem !important;
    }

    .hat {
        margin-bottom: 0.5rem !important;
    }

    a.permalink {
        font-style: oblique;
    }
}

.terms ul.postlist {
    columns: 3;
}

code {
    background-color: inherit;
    color: #553800;

    a, a & {
        color: @base-color-link;

        &:hover {
            color: @base-color-link-hover;
        }
    }
}

strong {
    font-style: normal;
}

div.admonition {
    margin: 0 0 2rem 0;
    padding: 15px;
    border: none;
    background-color: lighten(@headings-3-color, 50%);

    &.intro {
        background-color: lighten(@secondary-color, 40%);
    }


    p.admonition-title {
        font-family: @font-stack-headings;
        background-color: lighten(@headings-3-color, 50%);
        padding-top: 0;
        margin-top: -4px;
        margin-bottom: 15px;
        border-bottom: 1px lighten(@headings-3-color, 40%) solid;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

dt {
  font-weight: bold;
}

table {
    border: none;
    table-layout: auto;
}

td, th {
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  border-left: none;
  border-right: none;
}

.prompt {
    background-color: white;

    .text_cell & {
        display: none;
    }
}

div.description {
    margin-top: 1em;
    padding: 1em;
    background-color: lighten(@secondary-color, 40%);

    font-style: italic;

    &::before {
        content: "→ ";
    }
}

#notebook {
    .cell {
        border: none;
        padding: 0;
    }

    .code_cell {
        padding-bottom: 2rem;
    }

    .rendered_html em {
        font-style: normal;
    }
}

.gist-data .markdown-body.entry-content {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2rem;
}

.twitter-tweet {
    margin-left: 2rem;
    margin-bottom: 2rem !important;
}

#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;

    .comments {
        max-height: 20em;
        overflow-x: hidden;
        overflow-y: scroll;
        font-size: 80%;
    }

    h2 {
        font-size: medium;
        margin: 0;
        padding: 0.5em;
        background: lighten(@secondary-color, 40%);
        &:first-child {
	          border-top-left-radius: 0.5em;
	          border-top-right-radius: 0.5em;
        }
    }

    .reacts img {
        margin: 3px -1ex 1px 0;
        vertical-align: baseline;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 4px;
    }

    li {
        text-indent: -3em;
        padding-left: 3em;
        padding-bottom: 0.5em;
    }

    a.reaction {
        position: relative;

        margin-right: 0;
        margin-right: 1ex;

        text-decoration: none;
        text-shadow: 0px 0px 3px white;

        img {
            max-height: 2em;
            margin-right: -1ex;
            border-radius: 3px;
        }

        sub {
            font-size: 50%;
        }
    }

    .reacts a.reaction {
        display: inline-block;
    }

    .comments li {

        .text {
            color: #555;
            font-style: italic;
            text-decoration: none;
        }

        .name {
            color: #111;
        }
    }

}

.contact_link > span.kind {
    display: inline;
}

.main_wrapper {
    &> .main_header {
        color: @base-background;
    }

    &> .main_content .metas,
    &> .main_content time {
        color: @headings-color;
    }
}

h1.title, p.subtitle {
    text-align: left;
    font-weight: normal;
}
