## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="html_title()">
%if title and not post.meta('hidetitle'):
  <h1 class="p-name entry-title" itemprop="headline name"><a href="${post.permalink()}" class="u-url">
    %if post.is_draft:
      DRAFT ::
    %endif
    % if post.meta('type') == 'note':
      Note:
    % endif
    ${post.title()|h}
  </a></h1>
%endif
</%def>

<%def name="html_translations(post)">
    % if len(post.translated_to) > 1:
        <div class="metadata posttranslations translations">
            <h3 class="posttranslations-intro">${messages("Also available in:")}</h3>
            % for langname in sorted(translations):
                % if langname != lang and post.is_translation_available(langname):
                <p><a href="${post.permalink(langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></p>
                % endif
            % endfor
        </div>
    % endif
</%def>

<%def name="html_sourcelink()">
    % if show_sourcelink:
      ::
      <span class="sourceline"><a href="${post.source_link()}" class="sourcelink">${messages("Source")}</a></span>
    % endif
</%def>

<%def name="html_post_header()">
    <header class="container hat">
        ${html_title()}
        <div class="metas">
            <span class="dateline"><a href="${post.permalink()}" rel="bookmark"><time class="published dt-published" datetime="${post.formatted_date('webiso')}" itemprop="datePublished" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time></a></span>
            ::
            <span class="byline author vcard"><span class="byline-name fn" itemprop="author">
              % if author_pages_generated:
                <a href="${_link('author', post.author())}">${post.author()|h}</a>
              % else:
                ${post.author()|h}
              % endif
            </span></span>
            % if post.meta('type') == 'post':
              :: Read in about ${post.reading_time} min
            % endif

            ### TODO: word count
            % if not post.meta('nocomments') and site_has_comments and post.meta('type') != 'note':
              ::
              <span class="commentline">${comments.comment_link(post.permalink(), post._base_path)}</span>
            % endif
            ${html_sourcelink()}
            % if post.meta('link'):
              ::
              <span class="linkline"><a href="${post.meta('link')}">${messages("Original site")}</a></span>
            % endif
            <br/>
            ${helper.html_tags(post)}
        </div>
        ${html_translations(post)}

        %if post.meta('description'):
            <div class="description p-summary">
                ${post.meta('description')}
            </div>
        %endif
    </header>
    ${html_series_nav(post)}
</%def>

<%def name="html_series_nav(post)">
  <% from markdown import markdown %>
  %if series and post.meta[lang]['series']:
    <%
      series_tag = post.meta[lang]['series']
      series_info = series[series_tag]
      %>
    <nav class="container series">
    <div class="series">
      <p>
        ## Slightly odd subscript below is to strip off <p> and </p>
        ## TODO: This could be done better!
        This post is part of a series on ${markdown(series_info.description)[3:-4]}.
        See the rest of the series:
      </p>

      <ul>
        %for other_post in series_info.posts:
        <li>
          %if other_post is post:
            <span class="current-page">
          %else:
            <a href="${other_post.permalink()}">
          %endif
          ${other_post.title()}
          %if other_post is post:
            <strong>← you are here</strong></span>
          %else:
            </a>
          %endif
        </li>
        %endfor
      </ul>
      </div>
    </nav>
  %endif
</%def>
